---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1 $sourcesanspro;
  color: $gray;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 720px;
  padding: 0 30px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sourcesanspro;
  color: $darkerGray;
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  margin: 0;

  a {
    &:hover {
      color: $gray;
    }
  }
}

.post {
  float: left;;
  padding-bottom: 40px;
  margin-bottom: 40px;
  overflow: hidden;

  .entry {
    color: $darkerGray;
    line-height: 1.4;
    max-width: 640px;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  h2 {  
    font-size: 16px;
  }

  h3 {  
    font-size: 16px;
  }

  h4 {  
    font-size: 16px;
    color: $gray;
  }

  p {
    margin: 8px 0;
  }

  img {
    margin: 15px 0;
  }
}


a {
  color: $gray;
  text-decoration: none;
  &:hover, &:active {
    color: $gray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: $gray;
}

blockquote {
  margin: 1.8em .8em;
  padding: 0.1em 1em;
  background-color: $xlightGray;
  font-family: $sourcesanspro;
}

img {
  max-width: 100%;
  margin: 0;
}

.video {
  padding-top: 15px;
  padding-bottom: 20px;
}

// embedresponsively.com
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: $lightGray;
}

.date {
  color: $gray;

}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.content-wrapper {
  // min-height: 600px;
}
.masthead {
  padding: 0px;
}

.site-name {
  color: $black;
  font-family: $sourcesanspro; 
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;

  a {
    color: $black;
  }
}

.site-description {
  color: $darkerGray;
  font-size: 16px;
  font-family: $sourcesanspro;
  line-height: 1.4;
  max-width: 640px;
  margin-top: 0;
  margin-bottom: 20px;
}

nav {
  float: left;
  margin-bottom: 40px;
  font-family: $sourcesanspro; 
  font-size: 16px;
  font-weight: 600;
  
  a {
    margin-right: 20px;
    color: $darkerGray;
  }
}

#main {
}

#masonry-container {
  max-width: 100%;
}

.masonry-item {
  display: block;
  float: left;
  margin-bottom: 40px;
  width: 200px;

  h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.2;

    a {
      color: $darkerGray;
      font-weight: 600;
      margin: 0;
    }
  }

  .entry p {
    font-size: 14px;
    line-height: 1.2;
  }
}

.w1 {
  width: 200px;
  max-width: 100%;

  img {
    width: 200px;
    height: auto;
  }
}

.w2 {
  width: 460px;
  max-width: 100%;

  img {
    width: 460px;
    height: auto;
  }
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 1px dotted $gray;
    padding: 0.1em 1em;
    color: $gray;
  }

  .eyebrow {
    font-size: 12px;
    color: $gray;
    padding-top: 6px;
    margin-bottom: 6px;
  }

  .comments {
    margin-top: 10px;
  }

  .small-link {
    font-size: 11px;
    color: $medGray;
    display: block;
      &:hover {
        color: $gray;
      }
  }
  .large-link {
    font-size: 20px;
    color: $gray;
    font-weight: 500;
  }
  .primary-link {
    color: #000;
    font-size: 13px;
    font-weight: 500;
  }
  .spacer {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $lightGray;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";